/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #7e57c2;
  --secondary-color: #4d2c91;
  --third-color: #b085f5;
}

body,
html {
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Tahoma';
  font-size: 18px;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 30% auto;

  a {
    color: white;
  }
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}

.success {
  background-color: var(--primary-color);
  color: white;
}

.success button {
  background-color: white;
  color: black;
}

.error {
  background-color: #7b1fa2;
  color: white;
}

.error button {
  background-color: white;
  color: black;
}

.cdk-visually-hidden {
  visibility: hidden;
}
